---
pagination:
    data: extensions
    size: 1
    alias: extension
permalink: "{{ extension.slug }}/index.html"
eleventyComputed:
    title: "{{ extension.name }} Extension"
layout: layout.njk
---
<h1>{{ extension.name }} Extension</h1>

<p>{{ extension.count }} instructions and {{ extension.pseudoCount }} pseudo-instructions in the {{ extension.name }} extension.</p>

<ul class="instruction-list">
{% for entry in extension.sortedEntries %}
    <li data-name="{{ entry.name | lower }}">
        <a href="{{ entry.url }}">{{ entry.name }}</a>
        {% if entry.isPseudo %}
            - <span class="extension-description">{{ entry.label }}</span>
        {% else %}
            - {{ entry.label}}
            {% if entry.base != 32 %}
                <span class="base-width" title="This instruction is only present in the {{entry.base}}-bit version of the ISA.">{{ entry.base }}</span>
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ul>
