---
pagination:
    data: extensions
    size: 1
    alias: extension
permalink: extensions/{{ extension.slug }}/index.html
eleventyComputed:
    title: "{{ extension.name }} Extension"
layout: layout.njk
---
<h1>{{ extension.name }} Extension</h1>

<p>
    {{ extension.count }} instructions in the {{ extension.name }} extension.
</p>

<ul class="instruction-list">
{% for inst in extension.instructions %}
    <li data-name="{{ inst.name | lower }}">
        <a href="/instructions/{{ inst.name }}/">{{ inst.name }}</a>
        — {{ inst.longName }}
        {% if inst.base != 32 %}
            <span class="base-width" title="This instruction is only present in the {{inst.base}}-bit version of the ISA.">{{ inst.base }}</span>
        {% endif %}
    </li>
{% endfor %}
</ul>
