---
title: RISC-V Instruction Extensions
layout: layout.njk
---
<h1>The Best RISC-V Instruction Set Reference Manual</h1>
<p>
    RISC-V instructions are grouped into <strong>extensions</strong>, each identified by a series of letters.
    We have further grouped these extensions into {{ extensionGroups | length }} <strong>extension groups</strong> based on their common functionality. These extension groups are listed below for your convenience, in relative order of importance. Feel free to explore!
<p>

{% for extGroupName, extGroupInfo in extensionGroups %}
    <div class="dropdown-callout {% if loop.first %} open{% endif %}">
        <div class="header">
            <strong>{{ extGroupName }}</strong> - <span class="group-description">{{ extGroupInfo.description }}</span>
        </div>
        <div class="content">
            <ul>
                {% for ext in extensions %}
                    {% if ext.group == extGroupName %}
                        <li>
                            <strong>{{ ext.name }}</strong>
                            <a href="/extensions/{{ ext.slug }}/">({{ ext.description }})</a>:
                            {% for inst in ext.instructions %}
                                <a href="/instructions/{{ inst.name }}/" style="color: #000000">{{ inst.name }}</a>,
                            {% endfor %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}

<script>
    document.querySelectorAll(".dropdown-callout .header").forEach(header => {
        header.addEventListener("click", () => {
            const parent = header.parentElement;
            parent.classList.toggle("open");
        });
    });
</script>

<ul id="extensions">
{% for ext in extensions %}
    <li data-name="{{ ext.name | lower }}">
        <a href="/extensions/{{ ext.slug }}/">{{ ext.name }}</a>
            <p class="extension-description">
            {% if ext.description %}
                {{ ext.description }}
            {% else %}
                Description coming soon.
            {% endif %}
        </p>
    </li>
{% endfor %}
</ul>

<p class="secondary-callout">
<a href="/search/">Try the searchable instruction index.</a>
</p>
